<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>


<p>
	Splurty was built by <a target="_blank" href="http:github.com/Marvynro1">Marvyn Orellana</a>. An aspiring developer who has recently found an interest in the world of coding and all the possibilities it is capable of.
</p>
<br />
<p>
	While entertaining the idea of starting an online business, he came upon a skill that he felt would be an advantageous match to his marketing curiosity; web development. He is now currently an apprentice at theFirehoseProject with intentions to land a job afterwards and yet further his skills. He hopes to be inspired throughout the process and ultimately start his business in the future.
</p>
<br />
<p>
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
</p>
<br />



	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'IMAG0138 (2).jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Marvyn Orellana</h2>
		<br />
		<p>
			After realizing he wasn't where he wanted to be at in this part of his life, he decided to move on to other goals besides becoming a car designer. Marvyn Orellana is currently a student at an online bootcamp trying to grasp the concept of coding, in which he feels confident he will master.

			"The expectations of life depend upon diligence; the mechanic that would perfect his work must first sharpen his tools."

			Confucius
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />