<div class="col-xs-10 col-xs-offset-1">
	<h1>About Splurty</h1>


<p>
	Splurty was built by <a target="_blank" href="http:github.com/Marvynro1">Marvyn Orellana</a>. An aspiring developer who has recently found an interest in the world of coding and all the possibilities it is capable of.
</p>
<br />
<p>
	While entertaining the idea of starting an online business, he came upon a skill that he felt would be an advantageous match to his marketing curiosity; web development. He is now currently an apprentice at theFirehoseProject with intentions to land a job afterwards and yet further his skills. He hopes to be inspired throughout the process and ultimately start his business in the future.
</p>
<br />
<p>
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
</p>

</div>